body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a39191;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #653f34;
  }
  
  p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  ul {
      font-weight: bold;
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #5d00ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .contact-info {
    font-weight: bold;
  }
  .container button{
      width: 150px;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: rgb(120, 102, 67);
      text-align: center;
      justify-content: center;
      cursor: pointer;
      height: 50px;
      border-radius: 20px;
      margin-left: 40%;
      border: 2px solid black;
  }
  .container button:hover{
      background-color: black;
      color: white;
      font-size: 22px;
      border: 2px solid white;
  }